.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.metadata
build/
.idea/
.vscode/
*.iml
*.log
.mogulog_flutter_backup/
mogulog_run_log.txt
mogulog_flutter_run_log.txt
web_app/data/*.json
!web_app/data/.gitkeep

android/.gradle/
android/local.properties
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Pods/
ios/Runner.xcworkspace/
